@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.blender {
  animation-name: fade-in;
  animation-duration: 2s;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #3fc988;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: -2px;
  margin-left: 3vw;
}

.sign-login {
  font-family: 'Inter', sans-serif;
  margin-right: 5vw;
  height: 50px;
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: 5vh;
}

.sign-login a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.spacer {
  margin: 0 7px 0 7px;
  font-size: 25px;
  cursor: default;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Background Shapes */

.background-deco {
  height: 10vw;
  width: 10vw;
  background-color: #3fc988;
  border-radius: 100%;
  position: absolute;
  left: -5vw;
}

.background-deco2 {
  height: 10vw;
  width: 10vw;
  background-color: #3fc988;
  border-radius: 100%;
  position: absolute;
  right: -5vw;
  top: 200px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 10vw solid #3fc988;
  position: absolute;
  right: 35vw;
  top: 52vh;
  z-index: -2;
  transform: rotate(40deg);
}

/*HOVER EFFECT*/

.ticket h1{
  font-size:60px;
}
.ticket h3{
  font-weight:400;
  color:rgb(235, 178, 10);
}
.ticket h1,
h3{
  margin:0;
  padding:0;
}
.ticket img{
  width:42px;
  height:39px;
  margin:0px 20px;
}
.ticket{
  position:relative;
  /* height:320px; */
  height: 40vh;
  /* width:700px; */
  width: 65vw;
  background:white;
  display:flex;
  align-items:flex-end;
  box-shadow: 0px 10px 40px rgba(0,0,0,.4);
  margin: 0 auto;
  margin-top: 25px;
}
.flight-info{
  position:relative;
  z-index:99;
  padding:30px;
  color: white;
}
.flight-locations{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:-20px;
}
canvas{
  position:absolute;
  border-radius: 8px;
  z-index:0;
}
.overlay{
  position:absolute;
  background:rgba(0, 0, 0, .2);
  left:0; 
  right:0;
  top:0;
  bottom:0;
  z-index:1;
}

.flight-date {
  margin-bottom: 10px;
}

.explanation {
  margin: 0 auto;
  width: 50vw;
  font-size: 25px;
  /* color: #3fc988; */
  margin-top: 20vh;
  animation-name: fade-in;
  animation-duration: 4s;
}
/* 
.sign-up {
    background-color: rgb(63, 201, 136, 0.85);
    position: fixed;  
    width: 100vw;  
    height: 100vh;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;
    z-index: 999;
}

.signup {
  position: fixed;  
  width: 50vw;  
  height: 600px;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: #fff;  
  border-radius: 8px;
  height: 550px;
} */
/*Letter Drop*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.letter-drop {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  position: absolute;
  top: 80vh;
  left: 55vw;
}

.mint {
  color: #3fc988;
}

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.letter-drop p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

.see-more {
  width: 125px;
  background-color: #3fc988;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90vh;
  left: calc(50vw - 62px);
  color: white;
  border-radius: 5px;
  font-weight: 500;
}

.see-more:hover {
  transform: scale(1.02);
  cursor: pointer;
}